.Dictionary input {
  padding: 8px 20px;
  border-radius: 25px;
  outline: solid 1px #7381ad;
  min-width: 300px;
}
.search-section h1 {
  font-size: 45px;
  color: white;
  text-align: center;
  margin: -50px 0px 50px;
}
.search-section {
  display: flex;
  margin-left: -25px;
  margin-right: -25px;

  justify-content: center;
  align-items: center;
  height: 400px;
  background-image: url("/public/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px -10px 20px rgba(0, 0, 0, 0.15);
}
section label {
  color: white;
  padding-bottom: 5px;
}
